@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

:root {
    font-size: 14px;
    --color-text: #222222AA;
    --color-zero: #00000000;
    --color-bg: #ffffff;
    --color-bg-hover: #ffffff44;
    --color-link: #000;
    --color-link-hover: #131313;
    --padding-sides: 2rem;
    --padding-row: 1rem;
    --color-row-border: #00000022;
    --color-bg-row-hover: #ffffff44;
    --color-text-alt: #000;
    --image-gap: 1vw;
    --image-gap-large: 2vw;
    --img-size: 5vw;
    --img-size-large: 14vw;
    --text-size-small: 1vw;
    --text-size-middle: 3vw;
    --text-size: 15vw;
    --text-size-large: 30vw;
    --detail-size: 45vw;
    --detail-size-large: 90vw;
    }

.Header-header {
    

}